.kasa-Banner {
    color: black;
    text-align: right;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}


.kasa-Banner a {
	list-style-type: none;
}

.kasa-title {
	padding-left: 32px;
}

.logo_Kasa {
	height: 68px;
	width: 210.32px;
    margin-left: 100px;
}

.Header_menu {
    list-style: none;
    display: flex;
    height: 34px;
    font-size: 24px;
    color: #FF6060;
    justify-content: space-between;
    margin-right: 100px;
}

.Header_menu a {
	height: 34px;
	width: 136px;
    text-decoration: none;
    color:#FF6060;
}

.Header_menu a :hover{
	border-bottom: 3px solid #FF6060;
}