
.each-slide img {
    border-radius: 25px;
    width: 100%;
}

.react-slideshow-wrapper {
    margin: 100px 100px 30px 100px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 25px;
}

.images-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}