/* .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 450px;
    overflow: hidden;
    border-radius: 25px;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.active img {
    object-fit: cover;
    border-radius: 25px;
}
 */

.section_slider {
    display: flex;
    height: 500px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    border-radius: 25px;
}

.left-arrow {
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
}

.right-arrow {
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slider .active img {
    border-radius: 25px;
    height: 415px;
    width: 100%;
}