.image_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 415px;
    border: none;
    border-radius: 25px;
    background-position: center;
}

.section_slider {
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    border-radius: 25px;
    width: 100%;
    height: 415px;
}

.slider .active {
    border-radius: 25px;
    width: 100%;
    height: 415px;
}
.left-arrow {
    font-size: 10rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    transform: translate(120px, 0);
}

.right-arrow {
    font-size: 10rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    transform: translate(-120px, 0);
}