.accordions {
    margin: 0 auto;
    max-width: 1120px;
    margin-bottom: 60px;
}

.accordionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FF6060;
    padding: 1rem;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    height: 15px;
}

.accordionTitle:hover,.active .accordionTitle {
    cursor: pointer;
}

.accordionContent {
    visibility: hidden;
    height: auto;
    opacity: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all .15s ease-in;
}

.active .accordionContent {
    display: flex;
    align-items: center;
    visibility: visible;
    overflow: visible;
    padding: 1rem;
    transition: 0.3s;
    opacity: 1;
    border-radius: 5px;
    background: #f7f7f7;
    font-size: 18px;
    color: #FF6060;
    margin-bottom: 20px;
}

.active {
    margin: 0 5%;
}

.false {
    height: 80px;
    margin: 0 5%;
}

.active i {
    transition: 0.5s;
}

.false i {
    transform:rotate(180deg);
    transition: 0.3s;
}

/* RESPONSIVE */



@media (max-width: 799px){

    .accordionTitle {
        font-size: 13px;
    }

    .false {
        height: 80px;
        margin: 0 5%;
    }

    .active {
        margin: 0 5%;
    }

    .Accordion {
        flex-direction: column;
    }

    .Accordion .false {
        width: 90%;
        margin: 0 5%
    }

    .Accordion .active {
        width: 90%;
        margin: 0 5%;
        font-size: 12px;
    }

    .active .accordionContent {
        font-size: 12px;
    }

}