.imgAproposKasa {
    border-radius: 25px;
    margin-bottom: 50px;
    width: 90%;
    max-width: 1240px;
}
.aProposKasa {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    object-fit: cover;
}