.kasaBanner {
    color: black;
    text-align: right;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoKasa {
    height: 68px;
}

.kasaBanner a {
	list-style-type: none;
}

.kasa-title {
	padding-left: 32px;
}

.HeaderMenu {
    list-style: none;
    display: flex;
    font-size: 24px;
}

.HeaderMenu a {
	height: 34px;
	width: 136px;
    text-decoration: none;
    color:#FF6060;
}

.HeaderMenu a :hover{
	border-bottom: 3px solid #FF6060;
}
