.AccordionLogement {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    width: 95%;
}

.AccordionLogement .false {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: flex-start;
    margin: 0;
}

.AccordionLogement .active {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: flex-start;
    margin: 0;
}

.AccordionLogement div {
    border-radius: 10px;
}

/* RESPONSIVE */



@media (max-width: 799px){

    .accordionTitle {
        font-size: 13px;
    }

    .AccordionLogement {
        flex-direction: column;
    }

    .AccordionLogement .false {
        width: 90%;
        margin: 0 5%
    }

    .AccordionLogement .active {
        width: 90%;
        margin: 0 5%;
        font-size: 12px;
    }

    .active .accordionContent {
        font-size: 12px;
    }

}